body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    gap: 10px;
}

.task-container{
    max-width: 400px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.delete-button{
    padding: 10px 15px;
    background-color: #a72828;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.delete-button:hover{
    background-color: #611717;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.delete-btn:hover {
    background: darkred;
}
